/* Styling for the Elevate logo to make it not have any default link styles */
.logo a,
.logo a:visited,
.logo a:hover,
.logo a:active {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
